asgiref
beautifulsoup4
bs4
certifi
chardet
Django
django-admin-thumbnails
django-ckeditor
django-currencies
django-js-asset
django-mptt
idna
jsonfield
Pillow
python-gettext
pytz
requests
six
soupsieve
sqlparse
urllib3
